section.cart-done {
    padding: 64px 0 49px 0!important;
    .order__status {
        max-width: 92px;
    }
    .items {
        .incart {
            .list {
                width: 100%;
                &__item {
                    &:last-child {
                        border-bottom: 1px solid $catalog-border!important;
                    }
                }
            }
        }
    }

    .cartsum-wrapper {
        margin-bottom: 0px;
    }
}
