$dark-lime: #7fb800;
$reddish-orange: #f6511d;
$yellow-orange: #ffb400;
$azure: #00a6ed;
$dark-indigo: #0d2c54;
$white: #ffffff;
$black: #000000;
$gray: #f3f3f3;
$footer-border: #b3b3b3;
$catalog-border: #e6e6e6;
$telegram:#0088CC;
$whatsapp:#25D366;
$vkontakte:#4A76A8;
$facebook:#3B5998;
$twitter:#00ACED;
$instagram:linear-gradient(45deg, #feda75, #fa7e1e 23%, #d62976 52%, #962fbf 78%, #4f5bd5);
$black30:rgba(0,0,0,0.3);
$main-background: radial-gradient(circle at 50% 50%, rgba(0, 166, 237, 0), rgba(0, 166, 237, 0) 50%, rgba(0, 166, 237, 0.03));
